@page "/"

<PageTitle>Scriptool - Home</PageTitle>

<Breadcrumb CurrentPage="/" />

<h1 class="mt-5">Scriptool</h1>

Sua ferramenta dev. <br>

<section class="mt-5">
  <h3>Selecione uma das ferramentas abaixo:</h3>
  <div class="row">
    <div class="col card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Converter CSV para JSON</h5>
        <p class="card-text">A funcionalidade de conversão de CSV para JSON permite que você transforme dados tabulares em um formato estruturado e facilmente legível por máquinas. Ideal para interoperabilidade de dados.</p>
        <a class="btn btn-primary" href="/csv-to-json">CSV para JSON</a>
      </div>
    </div>
  </div>
</section>
